{% extends "pages/base.twig" %}

{% block pageContent %}
    <h3>Data Table:</h3>
    <div id="dataTable">

    </div>
    <script type="text/javascript">
        window.pageId = "{{ page.getId() }}";
    </script>
{% endblock %}