<!DOCTYPE html>
<html ng-app="ckApp">
<head>
    <title>Hello CrudKit</title>
    {% if dev %}
    {% include "includes/requires.twig" %}
    {% else %}
    {% include "includes/requires_prod.twig" %}
    {% endif %}
</head>
<body class="skin-blue">
<div class="wrapper">

    <header class="main-header">
        <a href="{{ defaultUrl }}" class="logo">CrudKit</a>
        <!-- Header Navbar: style can be found in header.less -->
        <nav class="navbar navbar-static-top" role="navigation">
            <!-- Sidebar toggle button-->
            <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>
            <div class="navbar-custom-menu">
            </div>
        </nav>
    </header>
    <aside class="main-sidebar">
        <section class="sidebar">
            <ul class="sidebar-menu">
                <li class="header">PAGES</li>
                {% for item in pageMap %}
                    <li role="presentation" {% if item.id == currentId %}class="active"{% endif %}><a href="{{ route.openPage(item.id)|raw }}"><i class="fa fa-book"></i> {{ item.name }}</a></li>
                {% endfor %}
            </ul>
        </section>
    </aside>

    <div class="content-wrapper">
        {% block mainContent %}{% endblock %}
    </div>
    <footer class="main-footer">
        <div class="pull-right hidden-xs">
        <b>Version</b> 0.1-alpha1
      </div>
      <strong>Powered by <a href="http://crudkit.com">CrudKit</a>.</strong>
  </footer>
</div>
</body>
</html>