<!DOCTYPE html>
<html>
<head>
	<title>Hello CrudKit</title>
    {% include "includes/requires.twig" %}
    <link href='http://fonts.googleapis.com/css?family=Lato&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
</head>
<body>


</body>
</html>