<!DOCTYPE html>
<html>
<head>
	<title>Hello CrudKit</title>
    {% include "includes/requires.twig" %}
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-md-3">
            <h2>Sidebar</h2>
        </div>
        <div class="col-md-9">
            <h2>Main Area</h2>
        </div>
    </div>
</div>

</body>
</html>