<!DOCTYPE html>
<html>
<head>
	<title>Hello CrudKit</title>
    {% include "includes/requires.twig" %}
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-md-3">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Pages</h3>
                </div>
                <div class="panel-body">
                    <div class="nav nav-pills nav-stacked">
                    {% for item in pageMap %}
                    <li role="presentation"><a href="{{ route.openPage(item.id) }}">{{ item.name }}</a></li>
                    {% endfor %}
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-9">
            <h2>Main Area</h2>
        </div>
    </div>
</div>

</body>
</html>