body {
  margin: 0;
  padding: 0;
  
}

body, h1, h2, h3, h4, h5, h6, p, td, th {
	font-family: "Lato", 'Helvetica Neue', Arial, Helvetica, sans-serif !important;
}

.form-group.has-change label {
  color: #3c8dbc;
}
.form-group.has-change.form-control {
  border-color: #3c8dbc !important;
  box-shadow: none;
}

a[ng-click]{
    cursor: pointer;
}

.table-checkbox {
  margin-left: 5px !important;
  margin-right: 5px !important;
}