{# Here be dragons. Don't ask me what this file does, I won't be able to explain it #}
<div ng-controller="CKFormController">
    <form class="form-horizontal">
        {% for item in formItems %}
            {{ item.render()|raw }}
        {% endfor %}
    </form>
    <div class="debug">
        <h4>Output:</h4>
        <pre>
            {% verbatim %}
{{ formItems | json }}
            {% endverbatim %}
        </pre>
        <h4>Input:</h4>
        <pre>
{{ formItems |json_encode(constant('JSON_PRETTY_PRINT')) }}
        </pre>
    </div>
</div>
