{% extends "pages/base.twig" %}

{% block pageContent %}
    <h3>Edit Item:</h3>
    {{ editForm | raw }}
    <script type="text/javascript">
        window.pageId = "{{ page.getId() }}";
        window.rowId = "{{ rowId }}";
    </script>
{% endblock %}